@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* app/globals.css */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #E8D9F1;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.login-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 16px;
  border: 2px solid #d4b3ea;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}

.login-card h2 {
  text-align: center;
  color: #7b4ca4;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #5d3e7e;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #c9a7e8;
  border-radius: 8px;
  outline: none;
}

.input-group input:focus {
  border-color: #b480d9;
  box-shadow: 0 0 4px #c9a7e8;
}

.login-btn {
  width: 100%;
  background: #b480d9;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #9e69c7;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
